{% extends "_layouts/default.twig" %}

{% block bodyTag %}
  {{ parent()|attr({
    class: 'bg-[#1D1D1D]'
  }) }}
{% endblock %}

{% block content %}
{% block header %}{% include '_partials/header.twig' %}{% endblock %}
<div class="bg-white">
  <div class="max-w-screen-xl min-w-screen-xl  mx-auto pt-[60px] px-6">
    <div class="grid grid-cols-1 md:flex gap-0 mt-[50px]">
      <div class="rounded-l min-w-[280px] h-[280px] bg-cover bg-bottom" style="background-image: url(/dist/headshots/1701393072707-1.jpg)"></div>
      <div class="bg-errigal w-full pl-[40px] rounded-b md:rounded-r">
        <div><!-- text -->
          <h2>Rhea Kumar</h2>
          <p class="text-lg font-bold text-ficus">2023 SCHOLARSHIP RECIPIENT</p>
          <div class="max-w-[800px] pr-4"><p>The ASCM SEPA Chapter is thrilled to award the winner of the 
          2023 Janet Hillier Scholarship to Rhea Kumar—a Senior in the Fox Honors and University Honors programs at Temple University.</p></div>
        </div>
        <div class="flex gap-[25px]">
          <a href="/articles/2023-janet-hillier-scholarship-recipient" class="h-max w-max bg-money pt-[9px] pb-[11px] pl-[20px] pr-[20px] text-white text-lg font-semibold">Learn &nbsp;More</a>
        </div>
      </div>
    </div>
    {% set scholarships = craft.entries().section('scholarships').limit(2) %}
    <div class="mt-[100px] grid grid-cols-1 md:grid-cols-2 gap-8">
    {% for scholarship in scholarships %}
      <div class="flex flex-col mb-12">
        <div class="w-full h-[280px] bg-cover bg-center" style="background-image: url(
          {% if scholarship.featureImage.one() %}{{scholarship.featureImage.one().url}}
          {% else %}{{"/volumes/jpg/test-sq.jpg"}}
          {% endif %}
        )"></div>
        <div class="mt-[10px] w-11/12 grow">
          <h2>{{scholarship.title}}</h2>
          <p class="text-lg">{{scholarship.summary|striptags|truncate(255,'...')}}</p>
        </div>
        <div class="mt-[30px]"><a href="{{scholarship.getUrl()}}" class="primaryButton">Read More</a></div>
      </div>
    {% endfor %}
    </div>
    <div class="my-[80px]">&nbsp;</div><!-- spacer -->
  </div>
</div>
{% block footer %}{% include '_partials/footer.twig' %}{% endblock %}
{% endblock %}