{% extends "_layouts/default.twig" %}

{% block bodyTag %}
  {{ parent()|attr({
    class: 'bg-[#1D1D1D]'
  }) }}
{% endblock %}

{% block content %}
{% block header %}{% include '_partials/header.twig' %}{% endblock %}
<div class="bg-white">
  <div class="max-w-screen-xl min-w-screen-xl mx-auto pt-[60px] pb-[100px] px-6">
  <div class="grid md:flex mb-12 md:mb-0 justify-between">
    <div>
      <h2 class="h1 font-bold">{{entry.title}}</h2>
      <div class="max-w-[582px]"><p class="text-lg leading-[38px]">{{entry.collegeDescription}}</p></div>
    </div>
    <div class="order-first md:order-none w-full h-[360px] md:w-[616px] md:h-[466px] bg-cover mb-12 md:mb-0" style="background-image: url({{entry.collegeFeatureImage.one.getUrl()}})"></div>
  </div>
  {% if entry.boardMembers.one() %}
  <h2 class="h1 leading-10 mt-[60px] mb-[30px]">Student Leadership</h2>
  <div class="grid grid-cols-1 md:grid-cols-4 gap-[20px] md:gap-[100px] justify-between place-items-center md:place-items-start">
    {% for member in entry.boardMembers %}
    <div class="mb-[30px] w-[298px] text-center">
      <div class="h-[260px] w-full drop-shadow-xl bg-cover bg-center"{% if member.headshot.one() %} style="background-image: url({{member.headshot.one().getUrl()}})"{% endif %}></div>
      <p class="pt-[20px] font-light h2">{{member.boardMemberName}}</p>
      <p class="uppercase font-semibold text-center">{{member.boardMemberTitle}}</p>
    </div>
    {% endfor %}
  </div>
  {% endif %}
  <div class="mx-auto mt-[80px] w-[60px] border-b-[5px] border-[#006B36]">&nbsp;</div>
</div>
{% block footer %}{% include '_partials/footer.twig' %}{% endblock %}
{% endblock %}
