{% extends "_layouts/default.twig" %}

{% block bodyTag %}
  {{ parent()|attr({
    class: 'bg-[#1D1D1D]'
  }) }}
{% endblock %}

{% set course_color = entry.courseColor %}

{% block content %}
{% block header %}{% include '_partials/header.twig' %}{% endblock %}
<div class="bg-white">
  <div class="max-w-screen-xl min-w-screen-xl mx-auto py-12 md:py-[80px] px-6 md:px-0">
    <img src="{{entry.courseHero.one().url}}" class="md:max-h-[360px] md:max-w-[800px] mx-auto" alt="{{entry.courseHero.one().alt}}" />
    <div class="mt-[50px] grid grid-cols-1 md:flex md:flex-row gap-[58px]">
      <div class="md:basis-2/3"><!--body-->
        <h2>{{entry.title}}</h2>
        <p>{{entry.courseDescription}}</p>
      </div>
      <div class="md:basis-1/3"><!--right sidebar-->
        {% for product in craft.events.events({type: entry.slug}).all() %}
          {% if product.eventDates.one() %}
          <div class="bg-errigal md:w-[404px] pl-[40px] pr-[20px] pt-[10px] pb-[35px] mb-[30px] border-t-[5px]
            {% switch entry.slug %}
              {% case 'cpim' %}
                {{'border-[#EA7600]'}}
              {% case 'cscp' %}
                {{'border-[#c8102e]'}}
              {% case 'cltd' %}
                {{'border-[#5f259f]'}}
              {% case 'ctsc' %}
                {{'border-[#00AAE7]'}}
              {% default %}
                {{'border-[#006B36]'}}
              {% endswitch %}">
            <h2>{{ product.title }}</h2>
            <p class="-mt-2 mb-[10px] font-bold text-ficus text-xl">Starts {{product.eventDates.one().theEventDate|date('F j')}}</p>
            {% if product.summary %}<p>{{ product.summary }}</p>{% endif %}
            <div class="mt-2 flex gap-[25px]">
              <form method="post" class="mt-6">
                {{ csrfInput() }}
                {{ actionInput('commerce/cart/update-cart') }}
                {{ hiddenInput('purchasableId', product.id) }}
                {{ redirectInput('shop/cart') }}
                {{ successMessageInput('{product} added to cart.'|t({
                  product: product.title
                })) }}
                {# {{ hiddenInput('clearNotices', true) }} #}
                {% if product.tickets()|length > 1 %}
                <div class="inline-block relative w-full">
                  {% tag 'select' with {
                    name: 'purchasableId',
                    class: [
                      'js-purchasableId',
                      'block',
                      'appearance-none',
                      'w-full',
                      'border',
                      'border-gray-200',
                      'hover:border-gray-500',
                      'mb-6',
                      'px-4',
                      'py-2',
                      'pr-12',
                      'rounded',
                      'leading-tight',
                      'focus:outline-none',
                      'focus:ring'
                    ]
                  } %}
                    {% for ticket in product.tickets() %}
                      {# @var variant \craft\commerce\elements\Variant #}
                      {{ tag('option', {
                        value: ticket.id,
                        text: ticket.title ~ ' - ' ~ ticket.salePrice|currency('USD')
                      }) }}
                    {% endfor %}
                  {% endtag %}
                  <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-500">
                    <svg class="fill-current h-4 w-4 -mt-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                      <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
                    </svg>
                  </div>
                </div>
                {% else %}
                <p class="font-bold text-3xl">${{ product.tickets()[0].price }}</p>
                <input type="hidden" value="{{product.tickets()[0].id}}" name="purchasableId" />
                {% endif %}
                <div class="mt-1 grid grid-cols-1">
                  {% if product.status('live') %}
                    {{ tag('button', {
                      type: 'submit',
                      class: ['h-max','w-max','bg-[#82C341]','pt-[9px]','pb-[11px]','pl-[20px]','pr-[20px]','text-white','text-lg','font-semibold'],
                      text: 'Add to Cart'|t
                    }) }}
                  {% else %}
                    {{ tag('button', {
                      type: 'submit',
                      class: ['h-max','w-max','bg-mercury','pt-[9px]','pb-[11px]','pl-[20px]','pr-[20px]','text-white','text-lg','font-semibold'],
                      text: 'Unavailable'|t
                    }) }}
                  {% endif %}
                </div>
              </form>
            </div>
          </div>
          {% endif %}
        {% endfor %}
        {% if entry.slug == 'foscm' %}
        <div class="bg-errigal md:w-[404px] pl-[40px] pr-[20px] pt-[10px] pb-[35px] mb-[30px] border-t-[5px] border-ficus">
        {% set membershipProduct = craft.products().type('membership').one() %}
          <h2>Course Registration</h2>
          <p>
            Registration for FOSCM is handled individually. Get the process started below and our VP of Education will get in touch with you.
            {{ craft.formie.renderForm('contact') }}
          </p>
        </div>
        {% endif %}
        <div class="bg-errigal md:w-[404px] pl-[40px] pr-[20px] pt-[10px] pb-[35px] mb-[30px] border-t-[5px] border-ficus">
        {% set membershipProduct = craft.products().type('membership').one() %}
          <h2>Not a member?</h2>
          <p>
            Courses are an exclusive benefit to ASCM members. Join today to experience:
            <ul>
              <li>Sustained professional development</li>
              <li>Network of 45,000+ supply chain professionals</li>
              <li>1,000+ educational resources to continue growth</li>
              <li>Savings for local in-person chapter events</li>
            </ul>
          </p>
          <div class="mt-2 flex gap-[25px]">
            <form method="post" class="mt-6">
              {{ csrfInput() }}
              {{ actionInput('commerce/cart/update-cart') }}
              {{ hiddenInput('purchasableId', membershipProduct.defaultVariant.id) }}
              {{ redirectInput('shop/cart') }}
              {{ successMessageInput('{membershipProduct} added to cart.'|t({
                membershipProduct: membershipProduct.title
              })) }}
              {# {{ hiddenInput('clearNotices', true) }} #}
              {% if membershipProduct.variants().all()|length > 1 %}
              <div class="inline-block relative w-full">
                {% tag 'select' with {
                  name: 'purchasableId',
                  class: [
                    'js-purchasableId',
                    'block',
                    'appearance-none',
                    'w-full',
                    'border',
                    'border-gray-200',
                    'hover:border-gray-500',
                    'mb-6',
                    'px-4',
                    'py-2',
                    'pr-12',
                    'rounded',
                    'leading-tight',
                    'focus:outline-none',
                    'focus:ring'
                  ]
                } %}
                  {% for variant in membershipProduct.variants().all() %}
                    {# @var variant \craft\commerce\elements\Variant #}
                    {{ tag('option', {
                      value: variant.id,
                      text: variant.title ~ ' - ' ~ variant.salePrice|currency('USD')
                    }) }}
                  {% endfor %}
                {% endtag %}
                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-500">
                  <svg class="fill-current h-4 w-4 -mt-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                    <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
                  </svg>
                </div>
              </div>
              {% else %}
              <p class="font-bold text-3xl">${{ membershipProduct.defaultVariant.price }}</p>
              <input type="hidden" value="{{membershipProduct.defaultVariant.id}}" name="purchasableId" />
              {% endif %}
              <div class="mt-1 grid grid-cols-1">
                {% if membershipProduct.status('live') %}
                  {{ tag('button', {
                    type: 'submit',
                    class: ['h-max','w-max','bg-[#82C341]','pt-[9px]','pb-[11px]','pl-[20px]','pr-[20px]','text-white','text-lg','font-semibold'],
                    text: 'Add to Cart'|t
                  }) }}
                {% else %}
                  {{ tag('button', {
                    type: 'submit',
                    class: ['h-max','w-max','bg-mercury','pt-[9px]','pb-[11px]','pl-[20px]','pr-[20px]','text-white','text-lg','font-semibold'],
                    text: 'Unavailable'|t
                  }) }}
                {% endif %}
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
 
</div>
{% block footer %}{% include '_partials/footer.twig' %}{% endblock %}
{% endblock %}
