{% extends "_layouts/default.twig" %}

{% block bodyTag %}
  {{ parent()|attr({
    class: 'bg-[#1D1D1D]'
  }) }}
{% endblock %}

{% set course_color = entry.courseColor %}

{% block content %}
{% block header %}{% include '_partials/header.twig' %}{% endblock %}
<div class="bg-white">
  <div class="max-w-screen-xl min-w-screen-xl mx-auto py-12 md:py-[80px] px-6 md:px-0">
    <img src="{{entry.courseHero.one().url}}" class="md:max-h-[360px] md:max-w-[800px] mx-auto" alt="{{entry.courseHero.one().alt}}" />
    <div class="mt-[50px] {% if entry.courseCalendar.all() != null %}grid grid-cols-1 md:flex md:flex-row gap-[58px]{% endif %}">
      <div class="{% if entry.courseCalendar.all() != null %}md:basis-2/3{% endif %}"><!--body-->
        <h2>{{entry.title}}</h2>
        <p>{{entry.courseDescription}}</p>
      </div>
      {% if entry.courseCalendar.all() != null %}
      <div class="md:basis-1/3"><!--right sidebar-->
        {% for product in craft.products.type(entry.slug).all() %}
          <div class="bg-errigal md:w-[404px] pl-[40px] pr-[20px] pt-[10px] pb-[35px] mb-[30px] border-t-[5px]
            {% switch entry.slug %}
              {% case 'cpim' %}
                {{'border-[#EA7600]'}}
              {% case 'cscp' %}
                {{'border-[#c8102e]'}}
              {% case 'cltd' %}
                {{'border-[#5f259f]'}}
              {% case 'ctsc' %}
                {{'border-[#00AAE7]'}}
              {% default %}
                {{'border-[#006B36]'}}
              {% endswitch %}">
            <h2>{{ product.title|title }}</h2>
            <p class="-mt-2 mb-[10px] font-bold text-[#006B36]">Starts {{product.eventDates.one().theEventDate|date('F j')}}</p>
            <h3 class="border-t border-shaving pt-4 font-bold text-wolf">{{product.defaultVariant.salePrice|currency('USD')}}</h3>
            <div class="mt-2 flex gap-[25px]">
              <form method="post" class="mt-6">
                {{ csrfInput() }}
                {{ actionInput('commerce/cart/update-cart') }}
                {{ hiddenInput('purchasableId', product.defaultVariant.id) }}
                {{ redirectInput('shop/cart') }}
                {{ successMessageInput('{product} added to cart.'|t({
                  product: product.title
                })) }}
                {# {{ hiddenInput('clearNotices', true) }} #}
                <div class="mt-1 grid grid-cols-1">
                  {% if product.availableForPurchase %}
                    {{ tag('button', {
                      type: 'submit',
                      class: ['h-max','w-max','bg-[#82C341]','pt-[9px]','pb-[11px]','pl-[20px]','pr-[20px]','text-white','text-lg','font-semibold'],
                      text: 'Add to Cart'|t
                    }) }}
                  {% else %}
                    {{ tag('button', {
                      type: 'submit',
                      class: ['h-max','w-max','bg-mercury','pt-[9px]','pb-[11px]','pl-[20px]','pr-[20px]','text-white','text-lg','font-semibold'],
                      text: 'Unavailable'|t
                    }) }}
                  {% endif %}
                </div>
              </form>
            </div>
          </div>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% block apics_cta %}{% include '_partials/apics_cta.twig' %}{% endblock %}
{% block footer %}{% include '_partials/footer.twig' %}{% endblock %}
{% endblock %}
