{% extends "_layouts/default.twig" %}

{% block bodyTag %}
  {{ parent()|attr({
    class: 'bg-[#1D1D1D]'
  }) }}
{% endblock %}

{% block content %}
{% block header %}{% include '_partials/header.twig' %}{% endblock %}

<div class="bg-white">
  <div class="max-w-screen-xl min-w-screen-xl mx-auto py-[100px] px-6">
  {% if craft.entries().section('Opportunities')|length < 1 %}
    <h2 class="text-xl leading-10 -my-[40px]">Check back in the future for professional opportunities for ASCM SEPA members and affiliates.</h2>
  {% endif %}
  {% for entry in craft.entries().section('Opportunities') %}
    <div class="flex flex-row">
      <div class="bg-[#F2F2F2] w-full pl-[40px] pr-[30px] pt-4 pb-[35px] mb-[30px] border-t-[5px] border-[#006B36]">
        <h2>{{entry.title}}</h2>
        <p class="mb-[10px] font-bold text-ficus">{{entry.company}}</p>
        <p class="font-light text-wolf">{{entry.description}}</p>
        <div class="mt-[35px] flex gap-[25px]">
          <a href="{{entry.submissionLink}}" class="primaryButton" target="_blank">Apply</a>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
</div>
{% block footer %}{% include '_partials/footer.twig' %}{% endblock %}
{% endblock %}
