{% extends "_layouts/default.twig" %}

{% block scriptTags %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide@3.5.x/dist/css/glide.core.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide@3.5.x"></script>
    <style>
        .glide__bullet--active {
            background: #333;
        }
    </style>
{% endblock %}

{% block bodyTag %}
  {{ parent()|attr({
    class: 'bg-[#1D1D1D]'
  }) }}
{% endblock %}

{% block content %}
{% block header %}{% include '_partials/header.twig' %}{% endblock %}

<div class="bg-white">
  <div class="max-w-screen-xl min-w-screen-xl mx-auto pt-[60px] pb-[100px] px-6 md:px-0">
    <div class="max-w-[828px] md:min-w-[828px] mx-auto">
      <div class="grid grid-cols-1 md:flex">
        <div class="md:flex md:flex-col grow">
          <div class="place-items-end">
            <p class="h3 -mb-2 font-bold text-ficus">{{event.startDate|date('F j, Y')}}</p>
            <h2 class="-mb-2">{{event.title}}</h2>
          </div>
        </div>
        <div>
          <div class="pt-[9px] pb-[8px] px-[24px] w-min bg-shaving font-extrabold uppercase text-white text-nowrap mb-6 md:mb-0">{{event.meetingCategory.one}}</div>
        </div>
      </div>
      <div class="h-[35px]">&nbsp;</div>
      <div><p class="text-lg">
      {{ event.body }}
      </p></div>
    </div>
    <div
      class="mt-16"
      x-data="{
          init() {
              new Glide(this.$refs.glide, {
                  perView: 2,
                  breakpoints: {
                      640: {
                          perView: 1,
                      },
                  },
              }).mount()
          },
      }"
    >
      <div x-ref="glide" class="glide block relative px-12">
          <div class="glide__track" data-glide-el="track">
              <ul class="glide__slides">
                  {% for image in event.gallery %}
                  <li class="glide__slide flex flex-col items-center justify-center pb-6">
                      <img class="w-full" src="{{image.getUrl()}}" alt="placeholder image">
                  </li>
                  {% endfor %}
              </ul>
          </div>

          <div class="glide__arrows pointer-events-none absolute inset-0 flex items-center justify-between" data-glide-el="controls">
              <!-- Previous Button -->
              <button
                  class="glide__arrow glide__arrow--left pointer-events-auto disabled:opacity-50"
                  data-glide-dir="<"
              >
                  <span aria-hidden="true">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12 text-gray-600" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="3"><path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7" /></svg>
                  </span>
                  <span class="sr-only">Skip to previous slide page</span>
              </button>

              <!-- Next Button -->
              <button
                  class="glide__arrow glide__arrow--left pointer-events-auto disabled:opacity-50"
                  data-glide-dir=">"
              >
                  <span aria-hidden="true">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12 text-gray-600" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="3"><path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" /></svg>
                  </span>
                  <span class="sr-only">Skip to next slide page</span>
              </button>
          </div>

          <!-- Bullets -->
          <div class="glide__bullets flex w-full items-center justify-center gap-1" data-glide-el="controls[nav]">
            {% for image in event.gallery %}
              <button class="glide__bullet h-3 w-3 rounded-full bg-gray-300 transition-colors" data-glide-dir="={{loop.index - 1}}"></button>
            {% endfor %}
          </div>
      </div>
    </div>
    <div class="mx-auto mt-[60px] mb-[80px] w-[60px] border-b-[5px] border-[#006B36]">&nbsp;</div><!-- color block -->
  </div>
</div>
{% block footer %}{% include '_partials/footer.twig' %}{% endblock %}
{% endblock %}
