{% extends "_layouts/default.twig" %}

{% block scriptTags %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide@3.5.x/dist/css/glide.core.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide@3.5.x"></script>
    <style>
        .glide__bullet--active {
            background: #333;
        }
    </style>
{% endblock %}

{% block bodyTag %}
  {{ parent()|attr({
    class: 'bg-[#1D1D1D]'
  }) }}
{% endblock %}

{% block content %}
{% block header %}{% include '_partials/header.twig' %}{% endblock %}

<div class="bg-white">
  <div class="max-w-screen-xl min-w-screen-xl mx-auto mt-8 md:pt-[60px] pb-[100px] px-6 md:px-0">
  {% set thisEntry = craft.events.events().slug(event.slug).one() %}
  {% if today <= thisEntry.startDate %}
    {% set defaultTicket = craft.events.tickets().event(thisEntry).one() %}
    <div class="flex flex-row">
      <div class="bg-errigal w-full pl-[40px] pr-[80px] py-[35px] mb-[30px] rounded-t border-t-[5px] border-ficus">
        <h2>{{ thisEntry.title }}</h2>
        {% if thisEntry.multipleDates == 0 %}<h3 class="font-bold text-ficus">{{thisEntry.startDate|date('F j, Y – g:i a T')}}</h3>{% endif %}
        <br />
        <p class="text-lg">{{thisEntry.description}}</p>
        {% if defaultTicket != NULL %}
        <div class="mt-2 flex gap-[25px]">
          <form method="post" class="mt-6">
            {{ csrfInput() }}
            {{ actionInput('commerce/cart/update-cart') }}
            {{ hiddenInput('purchasable.id', thisEntry.id) }}
            {{ redirectInput('shop/cart') }}
            {{ successMessageInput('{product} added to cart.'|t({
              product: thisEntry.title
            })) }}
            {# {{ hiddenInput('clearNotices', true) }} #}
            <div class="inline-block relative w-full mb-6">
              {% tag 'select' with {
                name: 'purchasableId',
                class: [
                  'js-purchasableId',
                  'block',
                  'appearance-none',
                  'w-full',
                  'border',
                  'border-gray-200',
                  'hover:border-gray-500',
                  'px-4',
                  'py-2',
                  'pr-12',
                  'rounded',
                  'leading-tight',
                  'focus:outline-none',
                  'focus:ring'
                ]
              } %}
                
                {% for ticket in craft.events.tickets().event(thisEntry) %}
                  {# @var variant \craft\commerce\elements\Variant #}
                  {{ tag('option', {
                    value: ticket.purchasableId,
                    text: ticket.title ~ ' - ' ~ ticket.salePrice|currency('USD')
                  }) }}
                {% endfor %}
              {% endtag %}
              <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-500">
                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                  <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
                </svg>
              </div>
            </div>
            <div class="mt-1 grid grid-cols-1">
              {% if thisEntry.status('live') %}
                {{ tag('button', {
                  type: 'submit',
                  class: ['h-max','w-max','bg-[#82C341]','pt-[9px]','pb-[11px]','pl-[20px]','pr-[20px]','text-white','text-lg','font-semibold'],
                  text: 'Add to Cart'|t
                }) }}
              {% else %}
                {{ tag('button', {
                  type: 'submit',
                  class: ['h-max','w-max','bg-mercury','pt-[9px]','pb-[11px]','pl-[20px]','pr-[20px]','text-white','text-lg','font-semibold'],
                  text: 'Unavailable'|t
                }) }}
              {% endif %}
            </div>
          </form>
        </div>
        {% endif %}
      </div>
    </div>
  {% else %}
    <div class="max-w-[828px] md:min-w-[828px] mx-auto">
      <div class="grid grid-cols-1 md:flex">
        <div class="md:flex md:flex-col grow">
          <div class="place-items-end">
            <p class="h3 -mb-2 font-bold text-ficus">{{event.startDate|date('F j, Y')}}</p>
            <h2 class="-mb-2">{{event.title}}</h2>
          </div>
        </div>
        <div class="order-first md:order-none">
          <div class="pt-[9px] pb-[8px] px-[24px] w-min bg-shaving font-extrabold uppercase text-white text-nowrap mb-6 md:mb-0">{{event.meetingCategory.one}}</div>
        </div>
      </div>
      <div class="h-4">&nbsp;</div>
      <div class="mb-8">
        <p class="text-lg">
        {{ event.recap }}
        </p>
      </div>
      <div class="slick-fade flex place-items-center">
        {% for image in event.gallery %}
        <div>
          <img src="{{image.getUrl()}}" />
        </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}
  </div>
</div>
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
    $('.slick-fade').slick({
      adaptiveHeight: true,
      arrows: true,
      infinite: true,
      autoplay: true,
      autoplaySpeed: 7000,
      speed: 500,
      fade: true,
      cssEase: 'linear',
      prevArrow: '<a href="" class="mr-6 block shrink-0"><img src="/dist/svg/left-arrow.svg" class="w-3 md:w-6" /></a>',
      nextArrow: '<a href="" class="ml-6 block shrink-0"><img src="/dist/svg/right-arrow.svg" class="w-3 md:w-6" /></a>',
      });
    });
  </script>
{% block footer %}{% include '_partials/footer.twig' %}{% endblock %}
{% endblock %}
