{% extends "_layouts/default.twig" %}

{% block bodyTag %}
  {{ parent()|attr({
    class: 'bg-[#1D1D1D]'
  }) }}
{% endblock %}

{% block content %}
{% block header %}{% include '_partials/header.twig' %}{% endblock %}

<div class="bg-white">
  <div class="max-w-screen-xl min-w-screen-xl mx-auto py-[100px] px-6 md:px-0">
  {% for product in craft.events.events({type: 'meetings'}) %}
    {% if today <= product.eventDates.one().theEventDate %}
    <div class="flex flex-row">
      <div class="bg-errigal w-full pl-[40px] pr-[80px] py-[35px] mb-[30px] rounded-t border-t-[5px] border-ficus">
        <h2>{{ product.title|title }}</h2>
        <h3 class="font-bold text-ficus">{{product.eventDates.one().theEventDate|date('F j, Y – g:i a T')}}</h3>
        <br />
        <p class="text-lg">{{product.description}}</p>
        <div class="mt-2 flex gap-[25px]">
          <form method="post" class="mt-6">
            {{ csrfInput() }}
            {{ actionInput('commerce/cart/update-cart') }}
            {{ redirectInput('shop/cart') }}
            {{ successMessageInput('{product} added to cart.'|t({
              product: product.title
            })) }}
            {# {{ hiddenInput('clearNotices', true) }} #}
            <div class="inline-block relative w-full mb-6">
              {% tag 'select' with {
                name: 'purchasableId',
                class: [
                  'js-purchasableId',
                  'block',
                  'appearance-none',
                  'w-full',
                  'border',
                  'border-gray-200',
                  'hover:border-gray-500',
                  'px-4',
                  'py-2',
                  'pr-12',
                  'rounded',
                  'leading-tight',
                  'focus:outline-none',
                  'focus:ring'
                ]
              } %}
                {% for variant in product.tickets() %}
                  {# @var variant \craft\commerce\elements\Variant #}
                  {{ tag('option', {
                    value: variant.id,
                    text: variant.title ~ ' - ' ~ variant.salePrice|currency('USD')
                  }) }}
                {% endfor %}
              {% endtag %}
              <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-500">
                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                  <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
                </svg>
              </div>
            </div>
            <div class="mt-1 grid grid-cols-1">
              {% if product.status('live') %}
                {{ tag('button', {
                  type: 'submit',
                  class: ['h-max','w-max','bg-[#82C341]','pt-[9px]','pb-[11px]','pl-[20px]','pr-[20px]','text-white','text-lg','font-semibold'],
                  text: 'Add to Cart'|t
                }) }}
              {% else %}
                {{ tag('button', {
                  type: 'submit',
                  class: ['h-max','w-max','bg-mercury','pt-[9px]','pb-[11px]','pl-[20px]','pr-[20px]','text-white','text-lg','font-semibold'],
                  text: 'Unavailable'|t
                }) }}
              {% endif %}
            </div>
          </form>
        </div>
      </div>
    </div>
    {% endif %}
  {% endfor %}
  <div class="mt-[80px]">
    <h2 class="text-[38px] leading-10 mb-[30px]">Recent Meetings</h2>
    <div class="grid grid-cols-1 md:grid-cols-4 gap-[40px] md:gap-[100px] justify-between place-items-center md:place-items-start">
      {% set entries = craft.entries.section('meetings').all() %}
      {% for entry in entries %}
      {% if entry.gallery.one() %}
      <a href="meetings/{{entry.slug}}" class="mb-[30px] w-[298px] hover:no-underline text-center text-wolf">
        <div class="h-[260px] w-full drop-shadow-xl bg-cover bg-center" style="background-image: url({{entry.gallery.one().getUrl()}})"></div>
        <div class="pt-[20px] h2">{{entry.title}}</div>
        <p class="uppercase font-semibold text-center">{{entry.meetingDate|date('F j, Y')}}</p>
      </a>
      {% endif %}
      {% endfor %}
    </div>
  </div>
  </div>
</div>
{% block footer %}{% include '_partials/footer.twig' %}{% endblock %}
{% endblock %}
