{% extends "_layouts/default.twig" %}

{% block scriptTags %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.css">
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.js"></script>
<style>
  .calendar-day {
    height: 0;
    padding-bottom: 100%;
  }
</style>
{% endblock %}

{% block bodyTag %}
  {{ parent()|attr({
    class: 'bg-[#1D1D1D]'
  }) }}
{% endblock %}

{% set start = now|atom %}

{% block content %}
{% block header %}{% include '_partials/header.twig' %}{% endblock %}
<style>
  .fc-daygrid-block-event .fc-event-title {
    padding: 8px;
  }
  a.fc-daygrid-event {
    white-space: normal;
  }
  table {
    margin-bottom: 0;
  }
</style>
<div class="bg-white">
  <div class="max-w-screen-xl min-w-screen-xl mx-auto px-6">
    <div class="mt-8 mb-24"
        x-data="{
            events: [
                {% for ev in craft.events.events() %}
                    {% if ev.eventDates|length >= 1 %}
                        {% for evDate in ev.eventDates %}
                          {{ '{ id: ' ~ ev.id ~ ',
                                title:\'' ~ ev.title ~ '\',
                                start: \'' ~ evDate.theEventDate|date('Y-m-d') ~ '\',
                                url: \'' ~ ev.type.handle ~ '\','
                              ~ '},'}}
                        {% endfor %}
                    {% elseif ev.startDate != null %}
                        {{ '{ id: ' ~ ev.id ~ ',
                              title:\'' ~ ev.title ~ '\',
                              start: \'' ~ ev.startDate|date('Y-m-d') ~ '\',
                              url: \'' ~ ev.type.handle ~ '\','
                            ~ '},'}}
                    {% endif %}
                {% endfor %}
            ],
            init() {
                this.calendar = new FullCalendar.Calendar(this.$refs.calendar, {
                    events: (info, success) => success(this.events),
                    eventColor: '#006B36',
                    initialDate: '{{now|date('Y-m-j')}}',
                    initialView: 'dayGridMonth',
                    selectable: false,
                    unselectAuto: false,
                    editable: false,
                    fixedWeekCount: false,
                })
    
                this.calendar.render()
            },
            getEventIndex(info) {
                return this.events.findIndex((event) => event.id == info.event.id)
            },
        }"
    >
        <h2 class="mt-8 font-bold">Upcoming Events</h2>
        <ul class="mt-1 list-inside list-disc text-sm text-gray-500">
        {% for event in craft.events.events() %}
          {% if event.type.handle != 'membership' %}
          <li><a href=
            {% if event.type.handle == "microcertifications" %}
              {{ "/education/microcertifications" }}
            {% elseif event.type.handle == "meetings" %}
              {{ "/meetings/" ~ event.slug }}
            {% else %}
              {{ "/" ~ event.type.handle }}
            {% endif %}
          >{{ event.type.name }} – {{ event.title }}</a></li>
          {% endif %}
        {% endfor %}
        </ul>
        <div x-ref="calendar"></div>
    </div>
  </div>
</div>
{% block apics_cta %}{% include '_partials/apics_cta.twig' %}{% endblock %}
{% block footer %}{% include '_partials/footer.twig' %}{% endblock %}
{% endblock %}
