{% extends "_layouts/default.twig" %}

{% block bodyTag %}
  {{ parent()|attr({
    class: 'bg-[#1D1D1D]'
  }) }}
{% endblock %}

{% set start = now|atom %}
{% set latestMeeting = craft.entries().section('Meetings').meetingDate(">= today").one() %}

{% block content %}
{% block header %}{% include '_partials/header.twig' %}{% endblock %}
{% block hero %}{% include '_partials/hero.twig' %}{% endblock %}
<div class="bg-white">
  <div class="max-w-screen-xl min-w-screen-xl mx-auto">
  {% if latestMeeting %}
  <div class="my-[100px] flex gap-0">
    <div class="rounded-l min-w-[360px] min-h-[360px] bg-cover" style="background-image: url(
        {% if latestMeeting.meetingFeatureImage.one() %}{{latestMeeting.meetingFeatureImage.one().url}}
        {% else %}{{"/dist/jpg/test-sq.jpg"}}
        {% endif %}
      )"></div>
    <div class="bg-[#F2F2F2] w-full pl-[40px] rounded-r border-t-[5px] border-[#006B36]">
      <div class="w-full flex justify-end"><div class="mr-[35px] mt-[30px] pt-[9px] pb-[8px] px-[24px] w-min rounded-full bg-white font-extrabold uppercase text-[#E2E5E7]">Mega&nbsp;Meeting</div></div>
      <div><!-- text -->
        <div><p class="text-lg font-bold text-[#006B36]">{{latestMeeting.meetingDate|date('F j, Y')}}</p></div>
        <div><p class="text-[38px] text-[#292929]">{{latestMeeting.title}}</p></div>
        <div class="max-w-[747px]"><p class="text-lg font-light text-[#292929]">{{latestMeeting.meetingDescription|striptags|truncate(255,'...')}}</p></div>
      </div>
      <div class="mt-[35px] mb-[52px] flex gap-[25px]">
        <a href="{{latestMeeting.meetingRegLink}}" class="h-max w-max bg-[#82C341] pt-[9px] pb-[11px] pl-[20px] pr-[20px] text-white text-lg font-semibold">Register</a>
        <a href="{{latestMeeting.meetingDetailsLink}}" class="h-max w-max bg-white pt-[9px] pb-[11px] pl-[20px] pr-[20px] text-[#82C341] text-lg font-semibold">Learn&nbsp;More</a>
      </div>
    </div>
  </div>
  {% endif %}
  <div class="mt-[100px]">
    <p class="text-[20px] font-light leading-[38px] text-[#292929]">Welcome to Southeastern 
    Pennsylvania Alliance Chapter (SEPA), we are excited that you decided to join our chapter. In addition to the values 
    and rewards you might receive from ASCM, our members will enjoy the following additional values.</p>
    <ul class="text-[20px] font-light leading-[38px] text-[#292929]">
      <li>Attendance to our annual Top Management Night, with the event offering appetizers, door prizes with a cash bar. 
      Don’t miss out on a great networking opportunity!</li>
      <li>Attendance to our monthly PDM meetings for members of SEPA, will receive a discounted price registration.</li>
      <li>Job posting listed on our website as well as blast E-Mail communication.</li>
      <li>Cost savings for members of SEPA, when registering for any educational classes the chapter is offering.</li>
      <li>Expanded number and frequency of educational classes and Supply Chain professional certificates.</li>
      <li>Opportunity to participate in the annual Janet Hillier Education Scholarship. Applicable to undergraduate students only.</li>
      <li>York College Students in the Operations & Supply Chain curriculum are eligible to apply for the annual endowment the college presents to attend either a CPIM or CSCP class including an exam voucher.</p>
    </ul>
  </div>
  <div class="font-light mt-[80px]">
  </div>
</div>
{% block apics_cta %}{% include '_partials/apics_cta.twig' %}{% endblock %}
{% block footer %}{% include '_partials/footer.twig' %}{% endblock %}
{% endblock %}
