<form method="post" action="" accept-charset="UTF-8">
  {{ csrfInput() }}
  {{ actionInput('users/save-user') }}
  {{ redirectInput(redirectUrl) }}

  {% macro errorList(errors) %}
    {% if errors %}
      {{ ul(errors, { class: 'errors text-red-500' }) }}
    {% endif %}
  {% endmacro %}

  {% from _self import errorList %}

  <div class="field mt-3">
    <label for="fullName">
      {{- 'Full Name *'|t -}}
    </label>
    <div class="mt-1">
      {{ input('text', 'fullName', user.fullName ?? null, {
        id: 'fullName',
        class: 'border border-gray-300 hover:border-gray-500 px-4 py-2 leading-tight rounded w-full'
      }) }}
      {% if user is defined %}
        {{ errorList(user.getErrors('fullName')) }}
      {% endif %}
    </div>
  </div>

  <div class="field mt-3">
    <label for="ascmMembershipId">
      {{- 'ASCM Member ID'|t -}}
    </label>
    <div class="mt-1">
      {{ input('text', 'fields[ascmMembershipId]', null, {
        id: 'ascmMembershipId',
        class: 'border border-gray-300 hover:border-gray-500 px-4 py-2 leading-tight rounded w-full'
      }) }}
      {% if user is defined %}
        {{ errorList(user.getErrors('fields[ascmMembershipId]')) }}
      {% endif %}
    </div>
  </div>

  <div class="field mt-3">
    <label for="company">
      {{- 'Company / Organization'|t -}}
    </label>
    <div class="mt-1">
      {{ input('text', 'fields[company]', null, {
        id: 'company',
        class: 'border border-gray-300 hover:border-gray-500 px-4 py-2 leading-tight rounded w-full'
      }) }}
      {% if user is defined %}
        {{ errorList(user.getErrors('fields[company]')) }}
      {% endif %}
    </div>
  </div>

  <div class="field mt-3">
    <label for="jobTitle">
      {{- 'Job Title / Role'|t -}}
    </label>
    <div class="mt-1">
      {{ input('text', 'fields[jobTitle]', null, {
        id: 'jobTitle',
        class: 'border border-gray-300 hover:border-gray-500 px-4 py-2 leading-tight rounded w-full'
      }) }}
      {% if user is defined %}
        {{ errorList(user.getErrors('fields[jobTitle]')) }}
      {% endif %}
    </div>
  </div>

  <div class="field mt-3">
    <label for="email">
      {{- 'Email'|t -}}
    </label>
    <div class="mt-1">
      {{ input('email', 'email', user.email ?? cart.email ?? null, {
        id: 'email',
        class: 'border border-gray-300 hover:border-gray-500 px-4 py-2 leading-tight rounded w-full',
        required: true
      }) }}
      {% if user is defined %}
        {{ errorList(user.getErrors('email')) }}
      {% endif %}
    </div>
  </div>

  <div class="field mt-3">
    <label for="phone">
      {{- 'Phone Number'|t -}}
    </label>
    <div class="mt-1">
      {{ input('phone', 'phone', user.phone ?? cart.phone ?? null, {
        id: 'phone',
        class: 'border border-gray-300 hover:border-gray-500 px-4 py-2 leading-tight rounded w-full',
        required: true
      }) }}
      {% if user is defined %}
        {{ errorList(user.getErrors('phone')) }}
      {% endif %}
    </div>
  </div>

  <div class="field mt-3">
    <label for="savePassword">
      {{- 'Password'|t -}}
    </label>
    <div class="mt-1">
      {{ input('password', 'password', null, {
        id: 'savePassword',
        class: 'border border-gray-300 hover:border-gray-500 px-4 py-2 leading-tight rounded w-full'
      }) }}
      {% if user is defined %}
        {{ errorList(user.getErrors('password')) }}
      {% endif %}
    </div>
  </div>

  <div class="mt-4">
    {{ tag('button', {
      type: 'submit',
      class: 'cursor-pointer rounded px-4 py-2 inline-block bg-[#006B36] hover:bg-[#006B36] text-white hover:text-white',
      text: 'Register'|t
    }) }}
  </div>
</form>